apiVersion: v2
description: 'Stash by AppsCode - Backup your Kubernetes native applications'
name: stash
type: application
version: v2021.06.23
appVersion: v2021.06.23
home: https://stash.run
icon: https://cdn.appscode.com/images/products/stash/stash-icon.png
sources:
- https://github.com/stashed
maintainers:
- name: appscode
  email: support@appscode.com
dependencies:
- name: stash-community
  repository: file://../stash-community
  version: v0.14.1
  condition: features.community
- name: stash-enterprise
  repository: file://../stash-enterprise
  version: v0.14.1
  condition: features.enterprise
- name: stash-catalog
  repository: file://../stash-catalog
  version: v2021.06.23
  condition: features.enterprise
