# Default values for stash.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  # License for the product.
  # Get a license by following the steps from [here](https://stash.run/docs/latest/setup/install/enterprise#get-a-trial-license).
  # Example:
  # helm install appscode/stash \
  #   --set-file global.license=/path/to/license/file
  # or
  # helm install appscode/stash \
  #   --set global.license=<license file content>
  license: ""
  # Name of Secret with the license as key.txt key
  licenseSecretName: ""
  # Docker registry used to pull Stash operator image
  registry: ""
  # Docker registry fqdn used to pull Stash related images.
  # Set this to use docker registry hosted at ${registryFQDN}/${registry}/${image}
  registryFQDN: ""
  # Specify an array of imagePullSecrets.
  # Secrets must be manually created in the namespace.
  #
  # Example:
  # helm template charts/stash \
  #   --set global.imagePullSecrets[0].name=sec0 \
  #   --set global.imagePullSecrets[1].name=sec1
  imagePullSecrets: []
  # Skip generating cleaner job YAML
  skipCleaner: false
features:
  # If true, installs the stash-community chart
  community: false
  # If true, installs the stash-enterprise and stash-catalog chart
  enterprise: false
# Pass values to stash-community chart
stash-community: {}
# Pass values to stash-catalog chart
stash-catalog: {}
# Pass values to stash-enterprise chart
stash-enterprise: {}
ace-user-roles:
  # If enabled, installs the ace-user-roles chart
  enabled: true
  enableClusterRoles:
    ace: false
    appcatalog: true
    catalog: false
    cert-manager: false
    kubedb: false
    kubedb-ui: false
    kubestash: false
    kubevault: false
    license-proxyserver: true
    metrics: false
    prometheus: false
    stash: true
