properties:
  elasticsearch:
    description: StashElasticsearchSpec is the schema for Stash Elasticsearch values
      file
    properties:
      backup:
        properties:
          args:
            type: string
        type: object
      enabled:
        type: boolean
      restore:
        properties:
          args:
            type: string
        type: object
    required:
    - backup
    - enabled
    - restore
    type: object
  image:
    properties:
      registry:
        type: string
    required:
    - registry
    type: object
  mariadb:
    description: StashMariadbSpec is the schema for Stash MariaDB values file
    properties:
      backup:
        properties:
          args:
            type: string
        type: object
      enabled:
        type: boolean
      restore:
        properties:
          args:
            type: string
        type: object
    required:
    - backup
    - enabled
    - restore
    type: object
  mongodb:
    description: StashMongodbSpec is the schema for Stash MongoDB values file
    properties:
      backup:
        properties:
          args:
            type: string
        type: object
      enabled:
        type: boolean
      maxConcurrency:
        format: int32
        type: integer
      restore:
        properties:
          args:
            type: string
        type: object
    required:
    - backup
    - enabled
    - maxConcurrency
    - restore
    type: object
  mysql:
    description: StashMysqlSpec is the schema for Stash MySQL values file
    properties:
      backup:
        properties:
          args:
            type: string
        type: object
      enabled:
        type: boolean
      restore:
        properties:
          args:
            type: string
        type: object
    required:
    - backup
    - enabled
    - restore
    type: object
  percona-xtradb:
    description: StashPerconaXtraDBSpec is the schema for Stash Percona XtraDB values
      file
    properties:
      backup:
        properties:
          args:
            type: string
          socatRetry:
            format: int32
            type: integer
        type: object
      enabled:
        type: boolean
      restore:
        properties:
          args:
            type: string
          targetAppReplicas:
            format: int32
            type: integer
        required:
        - targetAppReplicas
        type: object
    required:
    - backup
    - enabled
    - restore
    type: object
  postgres:
    description: StashPostgresSpec is the schema for Stash Postgres values file
    properties:
      backup:
        properties:
          args:
            type: string
          cmd:
            type: string
        type: object
      enabled:
        type: boolean
      restore:
        properties:
          args:
            type: string
        type: object
    required:
    - backup
    - enabled
    - restore
    type: object
  waitTimeout:
    format: int64
    type: integer
required:
- elasticsearch
- image
- mariadb
- mongodb
- mysql
- percona-xtradb
- postgres
- waitTimeout
type: object
