apiVersion: v2
name: stash-opscenter
description: Stash Opscenter by AppsCode
type: application
version: v2025.1.9
appVersion: v2025.1.9
home: https://stash.run
icon: https://cdn.appscode.com/images/products/stash/stash-icon.png
sources:
- https://github.com/stashed
maintainers:
- name: appscode
  email: support@appscode.com
dependencies:
- name: stash-ui-server
  repository: file://../stash-ui-server
  condition: stash-ui-server.enabled
  version: v0.19.0
- name: stash-metrics
  repository: file://../stash-metrics
  condition: stash-metrics.enabled
  version: v2025.1.9
- name: stash-grafana-dashboards
  repository: file://../stash-grafana-dashboards
  condition: stash-grafana-dashboards.enabled
  version: v2025.1.9
